body {
  margin: 0;
  padding: 60px 20px;
  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0e0d0d;
  text-decoration: none;
  font-weight: 400;
  word-wrap: break-word;
  background-color: transparent;
}
html {
	background:#111; /* Old browsers */
/*  background:#EBEBEB url(../Resources/images/body-bg.jpg); /* Old browsers */*/
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  
  background-repeat: repeat;
  background-attachment: fixed;

}

.clear
{
    display: block;
    clear: both;
}
.colms_2
{
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
    display: table;
}
.colms_3
{
    max-width: 31%;
	width: auto;
    float: left;
    padding: 0px;
    margin: 0px;
    display: table;
    margin-left: 10px;
    margin-right: 10px;
}

.colms_4
{
    width: 22%;
	
    float: left;
    padding: 0px;
    margin: 0px;
    display: table;
    margin-left: 15px;
    margin-right: 15px;
}
.border_right
{
	border-right: 0px solid #545252;
}
.margin_right{
	margin-right:20px;
	}
.margin_left{
	margin-left:20px;
	}
.margin_top{
	margin-top:20px;
	}
.margin_bottom{
	margin-bottom:20px;
	}
.right
{
    float: right;
}
.left
{
    float: left;
}

/*-----------------input_field-------------------*/

label
{
    font-size: 15px;
    color:#555;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
.input_field
{
    background-color: #f3f3f3;
    color: #777;
    font-family: 'Open Sans' , sans-serif;
    padding: 3px 7px 4px;
    border: 1px solid #ccc;
    width: 75%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    box-shadow: 0 2.5px 6px -4px hsl(0, 0%, 40%), inset 0px 2.5px 6px -4px #999;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.input_field:hover
{
    border: 1px solid #f60;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.input_field:focus
{
    border: 1px solid #f60;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    outline: none;
}
/*....................................*/
.icon_save
{
    background-image: url(../Resources/ico/save.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
.icon_pay
{
    background-image: url(../Resources/ico/pay.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
.icon_serch
{
    background-image: url(../Resources/ico/search.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
.icon_reset
{
    background-image: url(../Resources/ico/reset.png);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    text-indent:-30%;
}
/*....................................*/
.my_input_button
{
    background-color: #efefef;
    border: 1px solid #ccc;
    color: #888;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 20px 9px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.my_input_button:hover
{
    color: #555;
    cursor: pointer;
    background-color: #fff;
}
/*....................................*/

.my_input_button_search
{
    background-color: #efefef;
    border: 1px solid #ccc;
    color: #888;
    font-size: 15px;
    font-weight: 300;
    padding: 3px 7px 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.my_input_button_search:hover
{
    color: #555;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
/*....................................*/
.avater
{
    border: 1px solid #ccc;
    width: 35% !important;
    padding: 5px;
}
.avater_details
{
    border: 1px solid #ccc !important;
    padding: 5px;
    
}
/*....................................*/
.breadcrumbs
{
    color: #f60;
    font-size: 15px;
}
.breadcrumbs a
{
    color: #07b1ef;
    font-size: 15px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.breadcrumbs a:hover
{
    color: #f60;
}
/*....................................*/
.dgvEMS_row_edit
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.dgvEMS_row_edit:hover
{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.dgvEMS_row_delete
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.dgvEMS_row_delete:hover
{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*....................................*/

.Grid_Border
{
    border: 1px solid #ccc;
    padding-left: 5px;
}
.Grid_Header
{
    border: 1px solid #ccc;
    font-size: 11px;
    height: 17px;
    padding-left: 5px;
    color: #545454;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
}
.Grid_Footer
{
    border: 1px solid #ccc;
    font-size: 11px;
    height: 17px;
    padding-left: 5px;
    color: #545454;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
}

.Grid_RowStyle
{
    border: 1px solid #ddd;
    font-size: 11px;
    height: 17px;
    padding-left: 5px;
    color: #153F67;
    vertical-align: middle;
    background: #F7F6F3;
}

/*..............................................*/


.Grid_AltRowStyle
{
    border: 1px solid #ddd;
    font-size: 11px;
    height: 17px;
    padding-left: 5px;
    color: #153F67;
    vertical-align: middle;
    background: #EDEDED;
}

.resultText
{
    display: block;
}
.resultText img
{
    float: left;
}
.resultText .lbltext
{
    float: left;
    padding-top: 3.5px;
    padding-left: 2px;
}

.CalenderMontScroll
{
    color: Red !important;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
}
.CalenderMontScroll:hover
{
    color: #fff;
}
.signMark
{
    margin-top: 10px;
}
.signMark span
{
    margin-right: 1px;
    padding: 8px;
    color: White;
    font-size: 18px;
    font-weight: bold;
    width: 31%;
    display: inline-block;
    border: 1px solid #000;
}
